{% extends 'AppBundle::layout.html.twig' %}

{% block content %}
    <div class="row" id="voter">
        <div class="col-lg-12">
            {% if category.medias|length == 0 %}
                <div class="alert alert-danger">Il n'y a pas encore de photos dans cette catégorie</div>
            {% else %}
                <h2 class="page-header">{{ category.name }}</h2>

                {% for media in category.medias %}
                    <div class="col-lg-4" style="margin-top: 10px;">
                        {% set url = app.request.getSchemeAndHttpHost() ~ media.path %}
                        <a href="{{ url }}" target="_blank">
                            <img src="{{ url }}"  id="img_{{ media.id }}" width="350px">
                        </a>
                        par {{ media.author }}
                        {% if voteHereAlready == false %}
                            <a href="{{ path('vote_new_media', {'id':category.id, 'mediaId':media.id}) }}" class="voteBtn btn btn-success glyphicon glyphicon-thumbs-up"></a>
                        {% endif %}
                    </div>
                {% endfor %}
            {% endif %}

            <br>
        </div>

        <div class="col-lg-12" style="margin-top: 25px;">
            <a href="{{ path('index') }}">Revenir a la page d'accueil</a>
        </div>
    </div>

    <!-- The Modal -->
    <div id="myModal" class="modal">

        <!-- The Close Button -->
        <span class="close" onclick="document.getElementById('myModal').style.display='none'">&times;</span>

        <!-- Modal Content (The Image) -->
        <img class="modal-content" id="img01">

        <!-- Modal Caption (Image Text) -->
        <div id="caption"></div>
    </div>
{% endblock %}