<!-- Features Section -->
<div class="row" id="participer">
    <div class="col-lg-12">
        <h2 class="page-header">Participer</h2>
    </div>
    <div class="col-md-6">
        <p>Pour participer c'est facile !</p>
        <ol>
            <li>Choisis ta catégorie juste a droite</li>
            <li>Met ton nom/surnom ou une façon de te reconnaitre</li>
            <li>Sélectionne une photo sur ton ordi</li>
            <li>Envoie le tout !</li>
        </ol>
        <p>
            Si tu gagnes les mariées te prépareront quelque chose.<br>
            <br>
            <h3>Tu as gagnés dans une catégorie ?</h3>
            <span>
                Tu as gagné un super méga cool <strong>APERO</strong>
            </span>
            Et alors attention, pour ceux qui gagneraient dans <b>deux</b> catégories, là, ça sera I-N-O-U-B-L-I-A-B-L-E : les mariés vous concoteront ... UN REPAS !
        </p>
    </div>

    <div class="col-md-6">
        <br>
        {{ form_start(form) }}
        <ol>
            <li>
                {{ form_label(form.category) }}
                {{ form_widget(form.category) }}
            </li>
            <li>
                {{ form_label(form.name) }}
                {{ form_widget(form.name) }}
            </li>
            <li>
                {{ form_label(form.file) }}
                {{ form_widget(form.file) }}
            </li>
            <li>
                <input type="submit" value="Envoyer">
            </li>
        </ol>
        {{ form_end(form) }}
    </div>
</div>
<!-- /.row -->